.Filter {
  display: flex;
  justify-content: space-between;
  margin: 48px 80px;
}

/* Search Bar */
.SearchFilter {
  display: flex;
  align-items: center;
  padding: 0 0 0 2rem;
  background-color: var(--navbarBackground);
  width: 480px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.SearchFilter__label {
  height: 18px;
}

.SearchFilter svg path {
  fill: var(--searchBarTextColor);
}

.SearchFilter__input {
  height: 56px;
  width: 100%;
  outline: none;
  border: none;
  padding-left: 24px;
  background-color: var(--navbarBackground);
  color: var(--searchBarTextColor);
}

.SearchFilter__input::placeholder {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--searchBarTextColor);
}

/* Filter by Regions */
.CategoryFilter select {
  padding: 18px 24px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  background-color: var(--navbarBackground);
  color: var(--searchBarTextColor);
  border: none;
  border-radius: 5px;
}
.CategoryFilter select option,
.CategoryFilter select {
  color: var(--generalTextColor);
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: Nunito Sans;
}

@media screen and (max-width: 678px) {
  .Filter {
    display: block;
    margin: 48px 16px;
  }
  .SearchFilter {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 678px) and (max-width: 1024px) {
  .Filter {
    display: block;
    margin: 48px 40px;
  }
  .SearchFilter {
    margin-bottom: 40px;
  }
}
