.Filter {
  display: flex;
  justify-content: space-between;
  margin: 48px 80px;
}

/* Search Bar */
.SearchFilter {
  display: flex;
  position: relative;
  align-items: center;
  background-color: var(--navbarBackground);
  width: 480px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.SearchFilter:hover,
.SearchFilter:focus {
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.07);
}
.darkMode .SearchFilter:hover,
.darkMode .SearchFilter:focus {
  box-shadow: 0px 2px 5px 0px rgba(90, 90, 90, 0.07);
}

.SearchFilter__label {
  position: absolute;
  padding: 0 2rem 0 2rem;
  height: 18px;
}

.SearchFilter svg path {
  fill: var(--searchBarTextColor);
}

.SearchFilter__input {
  height: 54px;
  width: 100%;
  border: none;
  padding-left: 74px;
  background-color: var(--navbarBackground);
  color: var(--searchBarTextColor);
  letter-spacing: 0;
  font-weight: 400;
  font-family: Nunito Sans;
  font-size: 14px;
}

.SearchFilter__input::placeholder {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
  color: var(--searchBarTextColor);
  letter-spacing: 0;
  opacity: 1;
}

/* Filter by Regions */
.CategoryFilterRegion:hover,
.CategoryFilterRegion:focus {
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.07);
}
.darkMode .CategoryFilterRegion:hover,
.darkMode .CategoryFilterRegion:focus {
  box-shadow: 0px 2px 9px 0px rgba(163, 163, 163, 0.07);
}

.CategoryFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 18px 18px 18px 24px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  background-color: var(--navbarBackground);
  color: var(--generalTextColor);
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 400;
  font-family: Nunito Sans;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.CategoryFilterRegion {
  position: relative;
  width: fit-content;
}
.CategoryFilter svg path {
  fill: var(--chevron);
}
.CategoryFilter__dropDown {
  position: absolute;
  top: calc(100% + 4px);
  width: 200px;
  height: 164px;
  border-radius: 5px;
  background-color: var(--navbarBackground);
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  padding: 12px 0;
}
.CategoryFilter__dropDown button {
  background-color: transparent;
  width: 100%;
  padding: 4px 24px;
  border: none;
  display: inline-block;
  align-content: center;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--generalTextColor);
  cursor: pointer;
  text-align: start;
}
.CategoryFilter__dropDown button:hover {
  color: var(--regionFilterColor);
}

@media screen and (max-width: 660px) {
  .Filter {
    display: block;
    margin-left: 16px;
    margin-right: 16px;
  }
  .SearchFilter {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 660px) and (max-width: 1024px) {
  .Filter {
    display: block;
    margin: 48px 40px;
  }
  .SearchFilter {
    margin-bottom: 40px;
  }
}
