.Country {
  margin: 80px;
}

.Country__backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 40px;
  border-radius: 6px;
  color: var(--generalTextColor);
  background-color: var(--navbarBackground);
  border: none;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
  cursor: pointer;
  margin-bottom: 80px;
  font-family: Nunito Sans;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.Country__backButton svg {
  margin-right: 10px;
}
.Country__backButton svg path {
  fill: var(--generalTextColor);
}
.Country__backButton:hover,
.Country__backButton:focus {
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.4);
}
.darkMode .Country__backButton:hover,
.darkMode .Country__backButton:focus {
  box-shadow: 0px 0px 7px 0px rgba(163, 163, 163, 0.4);
}

.Country__datas {
  display: grid;
  grid-template-columns: auto 1fr;
}

.Country__flag img {
  width: 560px;
  height: 400px;
  object-fit: cover;
}

.Country__data {
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--generalTextColor);
  padding-left: 120px;
  align-self: center;
}
.Country__data span {
  font-family: Nunito Sans;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: var(--generalTextColor);
}

.Country__data-name {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 32px;
  color: var(--generalTextColor);
}

.Country__metaDatas {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
}

.Country__borders p {
  margin-right: 10px;
  display: inline;
}

.Country__border {
  display: inline-block;
  font-family: Nunito Sans;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  color: var(--generalTextColor);
  margin: 10px 10px 10px 0;
  padding: 5px 20px;
  background-color: var(--navbarBackground);
  border-radius: 2px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}
.Country__border:hover,
.Country__border:focus {
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
}
.darkMode .Country__border:hover,
.darkMode .Country__border:focus {
  box-shadow: 0px 0px 4px 1px rgba(163, 163, 163, 0.3);
}

@media screen and (max-width: 768px) {
  .Country {
    margin: 40px 28px;
  }
  .Country__data {
    padding-left: 0px;
  }
  .Country__datas {
    display: block;
  }
  .Country__flag img {
    width: 320px;
    height: 250px;
  }
  .Country__backButton {
    margin-bottom: 64px;
  }
  .Country__metaDatas {
    display: block;
  }
  .Country__borders p {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .Country__flag img {
    width: 320px;
    height: 250px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1224px) {
  .Country {
    margin: 40px;
  }
  .Country__flag img {
    width: 360px;
    height: 280px;
  }
  .Country__data {
    padding-left: 60px;
  }
}
